/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:13:23
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:13:23
 */

.channels-card-content {
  padding: 0px 0px 0px 0px !important;
}

.channels-card-title {
  padding: 24px 24px 24px 24px !important;
}

.channels-section {
  padding: 24px 24px 24px 24px !important;
}

.channels-card-container {
  padding: 0px 0px 0px 0px !important;
}
