@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
    float: left;
    width: 100%;
    padding: 0px 0;
}

.banner-sec {
    background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    border-radius: 0 21px 21px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 21px;
}

.carousel-inner {
    border-radius: 0 21px 21px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 10px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}


.login-sec h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: rgb(116, 116, 116);
}

.login-sec h2:after {
    content: " ";
    height: 2px;
    background: rgb(114, 114, 114);
    display: block;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}


.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1 1 auto;
    padding: 0rem;
}

.twitch-button {
    background-color: #6441A4;
    color: white;
}

.twitch-button-link {
    text-decoration: none;
}
.twitch-button-link:link {
    text-decoration: none;
}

.twitch-button-link:visited {
    text-decoration: none;
}

.twitch-button-link:active {
    text-decoration: none;
}

.twitch-button-link:hover {
    text-decoration: none;
}
