/* You can add global styles to this file, and also import other style files */

// @import "~bootswatch/dist/materia/variables";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/materia/bootswatch";


// @import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-material-design/scss/bootstrap-material-design.scss";
// @import "~bootstrap-material-design/scss/variables";
// @import "~bootstrap-material-design/scss/mixins";

// @import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
// @import "~bootstrap-material-design/scss";
// @import "~bootstrap-material-design/dist";

// @import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
// @import "~bootstrap-material-design/dist/js/bootstrap-material-design.js";
// @import "~bootstrap-material-design/js/bootstrapMaterialDesign.js";

// @import "~bootstrap-material-design/scss/bootstrap-material-design.scss";
// @import "~bootstrap-material-design/scss/variables";
// @import "~bootstrap-material-design/scss/mixins";


body {
  margin: 0;
  background-color: rgb(243, 243, 243);
}

#loading-area {
  width:99px;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
  z-index: 1;
}

.loading-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background:#F3F3F3;
}

.loading-box {
  background:#333;
  width:15px;
  height:5px;
  position:relative;
  top:7px;
  left:77px;
  transform-origin:bottom right;
  animation:ellipsis 2s 0.5s infinite ease-in-out;
  z-index: 1;
}

.loading-text {
  font-family: 'Montserrat', sans-serif;
  color: #343A40;
  font-size: 32px;
  position: relative;
  top: 15px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.background {
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
  z-index : -1;
}
