# API keys and secrets
.env
.env.dev

# compiled output
/dist
/tmp
/out-tsc

# Dependency directories
node_modules
bower_components
jspm_packages

# Instrumented libs
lib-cov
pids
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.pid.lock
*.gz
*.swp

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Cache
.npm
.sass-cache

# History
.node_repl_history

# Output
*.tgz
.nyc_output

# Yarn Integrity file
.yarn-integrity

# misc
connect.lock
coverage
typings

# e2e
/e2e/*.js
/e2e/*.map

# OS metadata
.DS_Store
Thumbs.db
dist
data

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
libpeerconnection.log
npm-debug.log
testem.log

# ESLint
.eslintrc.js
.eslintcache

# Editor config
.editorconfig
.idea
*.iml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode settings
vscode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

