/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:14:03
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:14:03
 */

.settings-card-content {
  padding: 0px 0px 0px 0px !important;
}

.settings-card-title {
  padding: 24px 24px 24px 24px !important;
}

.settings-section {
  padding: 24px 24px 24px 24px !important;
}

.settings-card-container {
  padding: 0px 0px 0px 0px !important;
}
