/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:14:24
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-01 00:07:00
 */

.thumbnail {
  max-width: 300px;
  border-radius: 5px;
}

.userInfo {
  font-size: 18px;
  color: rgb(75, 75, 75);
  font-weight: lighter;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
