/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:14:24
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:14:24
 */

.streams-card-content {
  padding: 0px 0px 0px 0px !important;
}

.streams-card-title {
  padding: 24px 24px 24px 24px !important;
}

.streams-section {
  padding: 24px 24px 24px 24px !important;
}

.streams-card-container {
  padding: 0px 0px 0px 0px !important;
}
