/*
 * @Author: Nizars
 * @Date: 2018-06-02 23:40:37
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-02 23:44:37
 */


 nav {



  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      color: #fff;

      a {
        color: #fff;
        padding: 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;

      }
    }
  }
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 70px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background: #2D2E2E;
}

.sidebar-button {
  height: 70px;
  width: 70px;
}

.sidebar-button-icon {
  color: #ffffff
}

.mat-button {
  min-width: 1%;
}
