<app-navbar></app-navbar>

<div id="page-container">

  <!-- Sidebar Holder -->
  <div id="sidebar-column" class="column">
      <div class="sidebar-body">
        <app-sidebar></app-sidebar>
      </div>
  </div>

  <!-- Page Content Holder -->
  <div id="page-column" class="column">
    <div class="page-body">
      <router-outlet></router-outlet>
      <!-- Footer Holder -->
      <div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>




  <canvas class="background"></canvas>
</div>


