/*
 * @Author: Nizars
 * @Date: 2018-06-02 22:34:02
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-09 10:10:47
 */


 #page-container {
  height: 100%;
  // overflow: hidden;
  margin: 0px;
  display: flex;
  // overflow-y: auto;
}


.navbar-body {
  min-width: 100%;
  // max-width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}


// .navbar-body::-webkit-scrollbar {
//   display: none;
//  }

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

#sidebar-column {
  flex-shrink: 0;
  min-width: 70px;
  max-width: 70px;
  transition: all 0.3s;
  // background: #343A40;
  // overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
#sidebar-column.expanded {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  overflow: hidden;
}

#page-column {
  background-color: #f3f3f3;
  transition: all 0.3s;
  flex: auto;
}

.sidebar-header {
  flex-shrink: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: all 0.3s;
}

.page-header {
  display: inline-flex;
  flex-shrink: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: all 0.3s;
}

.sidebar-body {
  flex-grow: 1;
  overflow-y: auto;
  transition: all 0.3s;
  // background-color: #343A40;
  // overflow: hidden;
}

.sidebar-body::-webkit-scrollbar {
  display: none;
 }

.page-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  transition: all 0.3s;
}






 .box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.background {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}
