/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:04:32
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:04:32
 */

.home-card-content {
  padding: 0px 0px 0px 0px !important;
}

.home-card-title {
  padding: 24px 24px 24px 24px !important;
}

.home-section {
  padding: 24px 24px 24px 24px !important;
}

.home-card-container {
  padding: 0px 0px 0px 0px !important;
}
