

<mz-card [hoverable]="true">
  <mz-card-title>Users</mz-card-title>
  <mz-card-content class="grey darken-2 white-text">
    <mz-tab [fixedTabWidth]="'true'" [onShow]="tabOnShow()">

      <!-- GET USER BY NAME -->
      <mz-tab-item [active]="'true'" [label]="'Get user by name'" class="tab-content">
        
        <!-- REQUEST SECTION -->
        <div class="section">
          <h5>Request</h5>
          <form novalidate>
            <mz-input-container class="row" id="user-name-input-container">
              <i mz-icon-mdi mz-input-prefix [icon]="'account-search'"></i>

              <input mz-input
              class="form-control"
              id="username-input-field"

              #usernameInput

              placeholder="User Name"
              length="50"
              type="search">

            </mz-input-container>
            <button mz-button type="button">Clear</button>
            <button mz-button type="submit" (click)="getUserByName(usernameInput.value)">Submit</button>
          </form>
        </div>

        <!-- RESPONSE SECTION -->
        <div class="section">
          <h5>Response</h5>

          <div class="row">
            <div *ngFor="let user of users$">
              <div class="col s4">
                <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
                  <mz-card-title>{{ user.display_name }}</mz-card-title>
                  <mz-card-content>
                    <div class="row">
                      <img class="col s4" src={{user.profile_image_url}}>
                      <div class="col s8">
                        <p>User id: {{ user.id }}</p>
                        <p>User description: {{ user.description }}</p>
                        <p>Broadcaster type: {{ user.broadcaster_type }}</p>
                        <p>Channel view count: {{ user.view_count }}</p>
                      </div>
                    </div>
                  </mz-card-content>
                  <mz-card-action>
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </mz-card-action>
                </mz-card>
              </div>
            </div>
          </div>  
        </div>

      </mz-tab-item>


      <!-- GET USER BY ID -->
      <mz-tab-item [label]="'Get user by ID'" class="tab-content">

        <!-- REQUEST SECTION -->
        <div class="section">
          <h5>Request</h5>
          <form novalidate>
            <mz-input-container class="row" id="user-id-input-container">
              <i mz-icon-mdi mz-input-prefix [icon]="'account-search'"></i>
              <input mz-input placeholder="User ID" length="20" type="search">
            </mz-input-container>
            <button mz-button type="button">Clear</button>
            <button mz-button type="submit">Submit</button>
          </form>
        </div>

        <!-- RESPONSE SECTION -->
        <div class="section">
            <h5>Response</h5>
  
            <div class="row">
              <div *ngFor="let user of users$">
                <div class="col s4">
                  <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
                    <mz-card-title>{{ user.display_name }}</mz-card-title>
                    <mz-card-content>
                      <div class="row">
                        <img class="col s4" src={{user.profile_image_url}}>
                        <div class="col s8">
                          <p>User id: {{ user.id }}</p>
                          <p>User description: {{ user.description }}</p>
                          <p>Broadcaster type: {{ user.broadcaster_type }}</p>
                          <p>Channel view count: {{ user.view_count }}</p>
                        </div>
                      </div>
                    </mz-card-content>
                    <mz-card-action>
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </mz-card-action>
                  </mz-card>
                </div>
              </div>
            </div>  
          </div>

      </mz-tab-item>

    </mz-tab>
  </mz-card-content>
</mz-card>





<!-- <mz-card [hoverable]="true">
  <mz-card-title>Users</mz-card-title>
  <mz-card-content class="grey darken-2 white-text">
    <mz-tab [fixedTabWidth]="'true'"> -->


      <!-- GET USER BY ID -->
      <!-- <mz-tab-item class="tab-content" [label]="'Get user by name'">
        <p>some text for getting user by id</p> -->

      <!-- INPUT FIELD -->
      <!-- <div class="section">
        <h5>Request</h5>
        <form novalidate> -->
          <!-- <mz-input-container
          class="row"
          id="user-id-input-container"> -->

            <!-- <div class="col-md-auto"> -->
              <!-- <i mz-icon-mdi mz-input-prefix [icon]="'account-search'"></i>

              <input mz-input placeholder="User ID" length="20" type="search">   -->
            <!-- </div>
            <div class="col-md-auto"> -->
              <!-- <button mz-button type="submit">Submit</button>
              <button mz-button type="button">Clear</button> -->
            <!-- </div> -->
          <!-- </mz-input-container> -->
        <!-- </form>

      </div>
      <div class="section">
        <h5>Results</h5>
        <div class="user-id-results"></div>
      </div> -->
      <!-- </mz-tab-item> -->

      


      <!-- GET USER BY NAME -->
      <!-- <mz-tab-item class="tab-content" [label]="'Get user by name'">
          <p>some text for getting user by name</p> -->

        <!-- INPUT FIELD -->
        <!-- <div class="section">
          <h5>Request</h5>
          <form novalidate> -->
            <!-- <mz-input-container
            class="row"
            id="user-name-input-container"> -->

              <!-- <div class="col-md-auto"> -->
                <!-- <i mz-icon-mdi mz-input-prefix [icon]="'account-search'"></i>

                <input mz-input placeholder="User name" length="50" type="search">   -->
              <!-- </div>
              <div class="col-md-auto"> -->
                <!-- <button mz-button type="submit">Submit</button>
                <button mz-button type="button">Clear</button> -->
              <!-- </div>
            </mz-input-container> -->
          <!-- </form>
        </div>
        <div class="section">
          <h5>Results</h5>
          <div class="user-name-results"></div>
        </div> -->

      <!-- </mz-tab-item>
    </mz-tab>
  </mz-card-content>
</mz-card> -->










<!-- <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="bg-white box-shadow mx-auto" style="width: 100%; border-radius: 21px 21px 21px 21px; padding-bottom: 100px; margin-bottom: 50px;">
      <div class="bg-dark" style="border-radius: 21px 21px 0 0; height: 175px;">
        <div style="padding: 50px 50px 0px 50px; font-size: 44px; color: white;">Users</div>
        <div style="padding: 0px 50px 50px 50px; font-size: 16px; font-weight: lighter; color: white;">Get Twitch user data</div>
      </div>
      <div class="container">
        <br />
        <ngb-tabset justify="justified">
          <ngb-tab mat-button title="Get user by user ID"> -->
            <!-- <ng-template ngbTabContent> -->
              <!-- Card  -->
              <!-- <div class="card-body">
                <div class="d-flex justify-content-between align-items-center"> -->
                  <!-- Input group -->
                  <!-- <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="USER ID" id="providedUserId" #providedUserId value="116069219"
                      (keyup.enter)="onEnter(providedUserId.value)" (keyup.enter)="getUserById(userId)">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-sm btn-secondary" (click)="onEnter(providedUserId.value)" (click)="getUserById(userId)">Get user</button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-8">
                    <h6 class="my-0">Display Name</h6>
                    <a target="_blank" href="https://www.twitch.tv">
                      <small class="userInfo">{{user.display_name}}</small>
                    </a>
                    <hr>
                    <h6 class="my-0">Broadcaster Type</h6>
                    <small class="userInfo">{{user.broadcaster_type}}</small>
                    <hr>
                    <h6 class="my-0">Description</h6>
                    <small class="userInfo">{{user.description}}</small>
                    <hr>
                    <h6 class="my-0">User ID</h6>
                    <small class="userInfo">{{user.id}}</small>
                    <hr>
                    <h6 class="my-0">User Type</h6>
                    <small class="userInfo">{{user.type}}</small>
                    <hr>
                    <h6 class="my-0">View Count</h6>
                    <small class="userInfo">{{user.view_count}}</small>
                  </div>
                  <div class="col-md-4">
                    <h6 class="my-0">Profile Image</h6>
                    <img class="thumbnail" src="{{user.profile_image_url}}">
                    <hr>
                    <h6 class="my-0">Offline Image</h6>
                    <img class="thumbnail" src="{{user.offline_image_url}}">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Get user by user login">
            <ng-template ngbTabContent> -->
              <!-- Card  -->
              <!-- <div class="card-body">
                <div class="d-flex justify-content-between align-items-center"> -->
                  <!-- Input group -->
                  <!-- <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="USER LOGIN" id="providedUserLogin" #providedUserLogin
                      value="nizos" (keyup.enter)="onEnter(providedUserLogin.value)" (keyup.enter)="getUserByLogin(userLogin)">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-sm btn-secondary" (click)="onEnter(providedUserLogin.value)" (click)="getUserByLogin(userLogin)">Get user</button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-8">
                    <h6 class="my-0">Display Name</h6>
                    <a target="_blank" href="https://www.twitch.tv">
                      <small class="userInfo">{{user.display_name}}</small>
                    </a>
                    <hr>
                    <h6 class="my-0">Broadcaster Type</h6>
                    <small class="userInfo">{{user.broadcaster_type}}</small>
                    <hr>
                    <h6 class="my-0">Description</h6>
                    <small class="userInfo">{{user.description}}</small>
                    <hr>
                    <h6 class="my-0">User ID</h6>
                    <small class="userInfo">{{user.id}}</small>
                    <hr>
                    <h6 class="my-0">User Type</h6>
                    <small class="userInfo">{{user.type}}</small>
                    <hr>
                    <h6 class="my-0">View Count</h6>
                    <small class="userInfo">{{user.view_count}}</small>
                  </div>
                  <div class="col-md-4">
                    <h6 class="my-0">Profile Image</h6>
                    <img class="thumbnail" src="{{user.profile_image_url}}">
                    <hr>
                    <h6 class="my-0">Offline Image</h6>
                    <img class="thumbnail" src="{{user.offline_image_url}}">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div> -->
