/*
 * @Author: Nizars
 * @Date: 2018-05-26 13:05:40
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-26 13:05:40
 */

div .row {
  margin: 0px !important;
}

div .row .img {
  padding-left: 0px !important;
}

.row .col {
  padding: 0px 20px 0px 0px !important;
}
