<div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="bg-white box-shadow mx-auto" style="width: 100%; border-radius: 21px 21px 21px 21px; padding-bottom: 100px; margin-bottom: 50px;">
      <div class="bg-dark" style="border-radius: 21px 21px 0 0; height: 175px;">
        <div style="padding: 50px 50px 0px 50px; font-size: 44px; color: white;">Users</div>
        <div style="padding: 0px 50px 50px 50px; font-size: 16px; font-weight: lighter; color: white;">Get Twitch user data</div>
      </div>
      <div class="container">
        <br />
        <ngb-tabset justify="justified">
          <ngb-tab mat-button title="Get user by user ID">
            <ng-template ngbTabContent>
              <!-- Card  -->
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Input group -->
                  <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="USER ID" id="providedUserId" #providedUserId value="116069219"
                      (keyup.enter)="onEnter(providedUserId.value)" (keyup.enter)="getUserById(userId)">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-sm btn-secondary" (click)="onEnter(providedUserId.value)" (click)="getUserById(userId)">Get user</button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-8">
                    <h6 class="my-0">Display Name</h6>
                    <a target="_blank" href="https://www.twitch.tv">
                      <small class="userInfo">{{user.display_name}}</small>
                    </a>
                    <hr>
                    <h6 class="my-0">Broadcaster Type</h6>
                    <small class="userInfo">{{user.broadcaster_type}}</small>
                    <hr>
                    <h6 class="my-0">Description</h6>
                    <small class="userInfo">{{user.description}}</small>
                    <hr>
                    <h6 class="my-0">User ID</h6>
                    <small class="userInfo">{{user.id}}</small>
                    <hr>
                    <h6 class="my-0">User Type</h6>
                    <small class="userInfo">{{user.type}}</small>
                    <hr>
                    <h6 class="my-0">View Count</h6>
                    <small class="userInfo">{{user.view_count}}</small>
                  </div>
                  <div class="col-md-4">
                    <h6 class="my-0">Profile Image</h6>
                    <img class="thumbnail" src="{{user.profile_image_url}}">
                    <hr>
                    <h6 class="my-0">Offline Image</h6>
                    <img class="thumbnail" src="{{user.offline_image_url}}">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Get user by user login">
            <ng-template ngbTabContent>
              <!-- Card  -->
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Input group -->
                  <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="USER LOGIN" id="providedUserLogin" #providedUserLogin
                      value="nizos" (keyup.enter)="onEnter(providedUserLogin.value)" (keyup.enter)="getUserByLogin(userLogin)">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-sm btn-secondary" (click)="onEnter(providedUserLogin.value)" (click)="getUserByLogin(userLogin)">Get user</button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-8">
                    <h6 class="my-0">Display Name</h6>
                    <a target="_blank" href="https://www.twitch.tv">
                      <small class="userInfo">{{user.display_name}}</small>
                    </a>
                    <hr>
                    <h6 class="my-0">Broadcaster Type</h6>
                    <small class="userInfo">{{user.broadcaster_type}}</small>
                    <hr>
                    <h6 class="my-0">Description</h6>
                    <small class="userInfo">{{user.description}}</small>
                    <hr>
                    <h6 class="my-0">User ID</h6>
                    <small class="userInfo">{{user.id}}</small>
                    <hr>
                    <h6 class="my-0">User Type</h6>
                    <small class="userInfo">{{user.type}}</small>
                    <hr>
                    <h6 class="my-0">View Count</h6>
                    <small class="userInfo">{{user.view_count}}</small>
                  </div>
                  <div class="col-md-4">
                    <h6 class="my-0">Profile Image</h6>
                    <img class="thumbnail" src="{{user.profile_image_url}}">
                    <hr>
                    <h6 class="my-0">Offline Image</h6>
                    <img class="thumbnail" src="{{user.offline_image_url}}">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
