<div class="container">
  <div class="py-5 text-center">
    <h2>Get Twitch User Data</h2>
    <p class="lead">Bellow is a method to consume user data from Twitch's API</p>
  </div>

    <div class="input-group">
      <input type="text" class="form-control" autocomplete="off" placeholder="USER ID" value="116069219">
      <div class="input-group-append">
        <button class="btn btn-sm btn-primary">Get User</button>
      </div>
    </div>


  <form class="card p-2">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">RESPONSE</span>
    </h4>
    <div class="row">
      <div class="col-md-6 order-md-2 mb-4">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Display Name</h6>
              <a target="_blank" href="https://www.twitch.tv">
                <small class="text-muted">"user.display_name"</small>
              </a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Broadcaster Type</h6>
              <small class="text-muted">"user.broadcaster_type"</small>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Description</h6>
              <small class="text-muted">"user.description"</small>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">User ID</h6>
              <small class="text-muted">"user.id"</small>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">User Type</h6>
              <small class="text-muted">"user.type"</small>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">View Count</h6>
              <small class="text-muted">"user.view_count"</small>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 order-md-2 mb-4">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Profile Image</h6>
                <img class="thumbnail" src="">
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Offline Image</h6>
                <img class="thumbnail" src="">
              </div>
            </li>
          </ul>
        </div>
    </div>
  </form>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 NIZOS</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
