<mz-card [hoverable]="true">
  <mz-card-title>Bits</mz-card-title>
  <mz-card-content class="grey darken-2">

    <!-- REQUEST SECTION -->
    <div class="section">
      <h5>Request</h5>
      <form novalidate>
        <mz-input-container class="row" id="bits-leaderboard-form-container">



          <!-- RESULTS COUNT -->
          <i mz-icon-mdi mz-input-prefix
          id="input-prefix-icon"
          [icon]="'format-list-numbers'"></i>

          <input mz-input
          class="form-control"
          id="count-input-field"
          [label]="'Number of results'"
          [(ngModel)]="resultsToReturn"
          name="count"

          placeholder="Number of results to return"
          length="3"
          type="number">


          <!-- DATE PICKER -->
          <mz-datepicker-container>
              <i mz-icon-mdi mz-input-prefix
              id="input-prefix-icon"
              [icon]="'calendar'"></i>

              <input mz-datepicker
                [label]="'Starting date'"
                [options]="datepickerOptions"
                [(ngModel)]="startedAtDate"
                name="date"
                id="datepicker"

                placeholder="Date to start from"
                type="text">
            </mz-datepicker-container>




          <!-- TIME PICKER -->
          <mz-timepicker-container>
              <i mz-icon-mdi mz-input-prefix
              id="input-prefix-icon"
              [icon]="'clock'"></i>

              <input mz-timepicker
                [label]="'Starting time'"
                [options]="timepickerOptions"
                [(ngModel)]="startedAtTime"
                name="time"
                id="timepicker"

                placeholder="Time to start from"
                type="text">
            </mz-timepicker-container>



          <!-- PERIOD SELECT -->
          <mz-select-container>
              <i mz-icon-mdi mz-input-prefix
              id="input-prefix-icon"
              [icon]="'calendar-multiple'"></i>

              <select mz-select
                id="options-select"
                [label]="'Period'"
                [placeholder]="'All'"
                [(ngModel)]="resultsPeriod"
                name="period">

                  <option class="left circle">day</option>
                  <option class="left circle">week</option>
                  <option class="left circle">month</option>
                  <option class="left circle">year</option>
                  <option class="left circle">all</option>
              </select>
            </mz-select-container>
          

          <!-- USER ID INPUT -->
          <i mz-icon-mdi mz-input-prefix
          id="input-prefix-icon"
          [icon]="'account-search'"></i>

          <input mz-input
          class="form-control"
          id="user-id-input-field"
          [(ngModel)]="userId"
          name="user"

          placeholder="User ID"
          length="20"
          type="search">

        </mz-input-container>

        <button mz-button
        type="button"
        (click)="clearUsers"
        (click)="usernameInput.value=''">Clear
        </button>

        <button mz-button
        type="submit"
        (click)="getBitsLeaderboard()">Submit
        </button>

      </form>
    </div>

    <!-- RESPONSE SECTION -->
    <div class="section">
      <h5>Response</h5>
      <div class="row">
        <div *ngFor="let user of bitsLeaderboard$">
          <div class="col s4">
            <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
              <mz-card-title>{{ user.display_name }}</mz-card-title>
              <mz-card-content>
                <div class="row">
                  <img class="col s4" src={{user.profile_image_url}}>
                  <div class="col s8">
                    
                    <p>Rank: {{ user.rank }}</p>
                    <p>Score: {{ user.score }}</p>
                    <p>Total: {{ user.total }}</p>
                    <p>User: {{ user.user_id }}</p>
                    <p>Started at: {{ user.started_at }}</p>
                    <p>Ended at: {{ user.ended_at }}</p>
                  </div>
                </div>
              </mz-card-content>
              <mz-card-action>
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
              </mz-card-action>
            </mz-card>
          </div>
        </div>
      </div>  
    </div>

  </mz-card-content>
</mz-card>


    
    