<div class="card hoverable">

  <div class="card-title blue white-text">Card Title</div>
  <div class="card-content">

    <div class="section previewSection">
      <h5>Chat Preview</h5>
      <div class="row">
        <div class="col">
          <div class="card-panel z-depth-0 light-green accent-4 chat-preview">
            {{chatMessage}}
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section settingsSection">
      <h5>Chat Settings</h5>
    </div>

  </div>
</div>
