<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand">Streamer Dashboard</a>
            </li>
            <!-- <li class="nav-item">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </li> -->
        </ul>
    </div>
    <!-- <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="navbar-button-icon material-icons">account_circle</a>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item">Profile</a>
                      <a class="dropdown-item">Settings</a>
                      <a class="dropdown-item">Support</a>
                      <div class="dropdown-divider"> </div>
                      <a class="dropdown-item">Sign out</a>
                    </div>
            </li>
        </ul>
    </div> -->
  </nav>


