/*
 * @Author: Nizars
 * @Date: 2018-06-09 09:58:33
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-13 14:21:46
 */

 // NAV


// BRAND LOGO
.brand-logo {
  padding: 0px 0px 0px 20px;
  line-height: 80px;
  cursor: default;
}

.right {
  max-height: 80px !important;
}

// NAV ICONS
.material-icons {
  line-height: 80px;
  min-height: 80px;
  max-height: 80px;
  font-size: 24px;
}

// SEARCH BAR
#nav-search-bar {
  min-height: 80px;
  max-height: 80px;
}


// SEARCH FIELD
#search-field {
  background-color: white !important;
  min-height: 80px;
  max-height: 80px;
  min-width: 0px;
  max-width: 0px;
  padding-left: 0px;
  transition-delay: padding-left 1s;
  transition: all 0.5s ease-in-out 0s;
}

#search-field.expanded {
  min-width: 400px;
  max-width: 400px;
  padding-left: 40px;
  transition-delay: padding-left 1s;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-btn {
  border-radius: 0px !important;
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 0px !important;
  margin: 0px !important;
}

.navbar-buttons {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
}
