<nav class="blue-grey darken-4">
  <div class="nav-wrapper">
    <a class="brand-logo"><i class="material-icons">cloud</i>STREAMER DASHBOARD</a>
    <ul class="hide-on-med-and-down right">
      <li id="nav-search-bar">
        <input class="nav-search" id="search-field" type="search" placeholder="Search" required>
      </li>
      <li><a id="toggle-search"><i class="material-icons">search</i></a></li>
      <li><a><i class="material-icons">view_module</i></a></li>
      <li><a><i class="material-icons">account_circle</i></a></li>
      <li><a><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>
