/*
 * @Author: Nizars
 * @Date: 2018-06-02 23:40:37
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-12 03:32:20
 */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

// SIDEBAR
#sidebar {
  min-width: 64px;
  max-width: 64px;
  background: #2196F3;
  transition: all 0.3s;
}
#sidebar.expanded {
  min-width: 250px;
  max-width: 250px;
}

// SIDEBAR BUTTON
#sidebar .btn {
  margin: 0px;
  padding: 0px;
  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
  border-radius: 0px !important;
  transition: all 0.3s;
}
#sidebar.expanded .btn {
  min-width: 250px;
  max-width: 250px;
}

// SIDEBAR BUTTON CONTENT
.btn-content-row {
  min-height: 64px;
  max-height: 64px;
  margin: 0px;
}

// SIDEBAR BUTTON ICON
.material-icons {
  line-height: 64px;
  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
  margin: 0px;
}

// SIDEBAR BUTTON TEXT
#sidebar .btn-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: hidden;
  overflow: hidden;
  min-height: 64px;
  max-height: 64px;
  line-height: 64px;
  opacity: 0;
  font-style: normal;
  transition: all 0.5s;
}

#sidebar.expanded .btn-text {
  visibility: visible;
  opacity: 1;
}

.expanded {
  min-height: 64px;
  max-height: 64px;
  max-width: 250px;
  min-width: 250px;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  transition: all 0.3s;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.overflow-hidden {
  overflow: hidden;
}
