<nav id="sidebar" class="blue-grey darken-3" [ngStyle]="sidebarNavStyle">
  <ul class="list-unstyled">

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-toggler"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Toggle sidebar'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      (click)="toggleSidebar()">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'menu'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Toggle sidebar</i>
        </i>

      </button>
    </li>

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Home'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/home"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/home'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'home'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Home</i>
        </i>

      </button>
    </li>

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Dashboard'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/dashboard"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/dashboard'">


        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'view-dashboard'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Dashboard</i>
        </i>

      </button>
    </li>


    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Channels'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/channels"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/channels'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'youtube-tv'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Channels</i>
        </i>

      </button>
    </li>


    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Streams'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/streams"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/streams'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'theater'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Streams</i>
        </i>

      </button>
    </li>

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Videos'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/videos"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/videos'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'movie'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Videos</i>
        </i>

      </button>
    </li>

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip
      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Clips'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/clips"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/clips'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'animation-play'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Clips</i>
        </i>

      </button>
    </li>


    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [tooltip]="'Users'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      [ngStyle]="sidebarButtonStyle"
      routerLink="/users"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/users'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'account-group'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Users</i>
        </i>

      </button>
    </li>


    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Games'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/games"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/games'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'google-controller'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Games</i>
        </i>

      </button>
    </li>





    

    

    

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Chat'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/chat"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/chat'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'comment-text-multiple'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Chat</i>
        </i>

      </button>
    </li>












    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Bits'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/bits"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/bits'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'trophy'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Bits</i>
        </i>

      </button>
    </li>

    

    

    <li class="sidebar-item expanded">
      <button mz-button mz-tooltip

      class="sidebar-btn btn waves-effect waves-light blue-grey darken-3 z-depth-0"
      id="sidebar-button"

      [ngStyle]="sidebarButtonStyle"
      [tooltip]="'Bot'"
      [position]="'right'"
      [html]="true"
      [delay]="tooltipDelay"

      routerLink="/bot"
      routerLinkActive="active"
      [class.activated]="currentUrl == '/bot'">

        <i class="btn-content-row row">
          <i mz-icon-mdi class="material-icons left" [icon]="'robot'"></i>
          <i class="btn-text left-align"
          [ngStyle]="sidebarTextStyle">Bot</i>
        </i>

      </button>
    </li>

  </ul>
</nav>
