/*
 * @Author: Nizars
 * @Date: 2018-06-02 23:40:37
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-12 03:32:20
 */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

// WRAPPER
.wrapper {
  display: flex;
  align-items: stretch;
}

// SIDEBAR
#sidebar {
  min-width: 64px;
  max-width: 64px;
  color: #fff;
  background: #2196F3;
  transition: all 0.3s;
  // overflow: hidden;
  transition: all 0.3s;
}

#sidebar.expanded {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

// SIDEBAR LIST
#sidebar ul li {
  display: block;
  min-width: 64px;
  max-width: 64px;
  transition: all 0.3s;
}

#sidebar.expanded ul li {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

#sidebar ul li a .btn-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  font-style: normal;
}

#sidebar.expanded ul li a .btn-text {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

// BUTTON
#sidebar .btn {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-left: 0px;

  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
  transition: all 0.3s;
}

#sidebar.expanded .btn {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-left: 0px;

  min-height: 64px;
  max-height: 64px;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

// // TEXT
// #sidebar .btn .btn-text{
//   display: none;
//   visibility: hidden;
//   transition: all 0.3s;
//   text-decoration: none;
// }

// #sidebar.expanded .btn .btn-text{
//   display: inline;
//   visibility: visible;
//   transition-delay: display 1.0s;
//   transition: all 0.3s;
// }


/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  transition: all 0.3s;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.overflow-hidden {
  overflow: hidden;
}
