/*
 * @Author: Nizars
 * @Date: 2018-06-02 22:34:02
 * @Last Modified by: Nizars
 * @Last Modified time: 2018-06-02 22:34:02
 */


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.overflow-hidden {
    overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
