/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:13:15
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:13:15
 */

.bot-card-content {
  padding: 0px 0px 0px 0px !important;
}

.bot-card-title {
  padding: 24px 24px 24px 24px !important;
}

.bot-section {
  padding: 24px 24px 24px 24px !important;
}

.bot-card-container {
  padding: 0px 0px 0px 0px !important;
}
