/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:14:16
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:14:16
 */

.twitch-btn {
  background-color: #6441A4;
  line-height: 36px;
  margin-top: 100px;
}

.twitch-icon {
  max-height: 18px;
  line-height: 36px;
  padding-right: 10px;
}

.progress {
  background-color: rgb(220, 200, 255);
}

.indeterminate {
  background-color: #6441A4;
}

.card-title-small {
  font-size: normal;
}
