/*
 * @Author: Nizars
 * @Date: 2018-05-27 10:04:32
 * @Last Modified by:   Nizars
 * @Last Modified time: 2018-05-27 10:04:32
 */



.parallax img {
  width: 100% !important;
  // max-width: 800px;
  // max-height: 600px;
}

.landing-card-content {
  padding: 0px 0px 0px 0px !important;
}

.landing-card-title {
  padding: 24px 24px 24px 24px !important;
}

.landing-section {
  padding: 24px 24px 24px 24px !important;
}

.landing-card-container {
  padding: 0px 0px 0px 0px !important;
}
