<div class="row">
  <div class="col s12 m12 profile-card-container">
    <div class="card profile-card white">
      <div class="card-content profile-card-content white black-text">
        <span class="card-title profile-card-title blue-grey white-text">Profile</span>
        <mz-tab [fixedTabWidth]="'true'" [onShow]="tabOnShow()">

          <!-- Tab 1  -->
          <mz-tab-item
            [label]="'Tab 1'"
            [active]="'true'"
            class="tab-content">
            <div class="section profile-section">
              <!-- Tab 1 Content  -->
              Tab 1 content
            </div>
          </mz-tab-item>

          <!-- Tab 2  -->
          <mz-tab-item
            [label]="'Tab 2'"
            class="tab-content">
            <div class="section profile-section">
              <!-- Tab 1 Content  -->
              Tab 2 content
            </div>
          </mz-tab-item>

          <!-- Tab 3  -->
          <mz-tab-item
            [label]="'Tab 3'"
            class="tab-content">
            <div class="section profile-section">
              <!-- Tab 1 Content  -->
              Tab 3 content
            </div>
          </mz-tab-item>

        </mz-tab>
      </div>
    </div>
  </div>
</div>
